@import 'styles/colors.scss';

$sidebarBGColor: color(grayish-blue);
$sidebarBGColorHovered: lighten($sidebarBGColor, 8%);

.sideBarWrapper {
	position: fixed;
	top: 4rem;
	left: 0;
	bottom: 0;
	z-index: 100;
	display: flex;
	width: 16rem;
	flex-direction: column;
	background-color: $sidebarBGColor;
	color: color(white);

	.listItem {
		&.listItemActive {
			.item {
				background-color: $sidebarBGColorHovered;
			}
		}
	}

	.item {
		padding: 0.4rem 0.8rem 0.8rem;

		&.selectable:not(.disabled):hover {
			background-color: $sidebarBGColorHovered;
		}
	}
}
