@import 'styles/colors.scss';
$scrollbar-file: 'styles/scrollbars.scss';
$contentWrapperBGColor: color(solitude);

.contentWrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	max-height: 100%;

	padding-bottom: 4rem;
	padding-left: 16rem;
	padding-top: 1.8rem;

	margin-top: 64px; //app bar height
	overflow-y: auto;
	z-index: 1;
	transition: padding 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: $contentWrapperBGColor;

	composes: hover-spaced-6-8-dark from $scrollbar-file;
	&::-webkit-scrollbar-track {
		background-color: $contentWrapperBGColor;
	}

	&::-webkit-scrollbar-thumb {
		&:hover {
			border-color: $contentWrapperBGColor;
		}
		border-color: $contentWrapperBGColor;
	}

	.card {
		width: 64rem;
		margin: 0 auto;
		padding: 3rem;
		box-shadow: 0 0.063em 0.313em 0 rgba(0, 0, 0, 0.07),
			0 0.438em 1.063em 0 rgba(0, 0, 0, 0.1);
	}
}

.invoiceHeader {
	display: flex;
	.tableWrapper {
		display: flex;
		flex-grow: 2;
		.table {
			width: 100%;

			.title {
				font-size: 1.4rem;
				text-transform: uppercase;
			}

			.details {
				font-size: 0.8rem;
				color: grey;
				text-align: right;
			}

			.invoiceNumber {
				font-size: 1.1rem;
				color: gray;
			}

			.name {
				font-size: 1.1rem;
				text-align: right;
			}

			.time,
			.email {
				font-size: 0.8rem;
			}

			.email {
				text-align: right;
			}
		}
	}

	.buttonWrapper {
		display: flex;
		align-items: center;
		padding-left: 2rem;

		.button {
			border-radius: 4px;
			border: 1px solid color(cornflower-blue);
		}
	}
}
