@import 'styles/colors.scss';
$borderColor: color(solitude);

%remove-margin {
	margin: 0;
}

%center-vertically {
	display: flex;
	align-items: center;
}

%center-vertically {
	display: flex;
	align-items: center;
}

%alignRight {
	text-align: right;
}

%removePadding {
	padding: 0;
}

.invoiceListWrapper {
	color: #212121;
	max-height: 20rem;
	overflow-y: auto;
	margin: 1.8rem 0;
}

.invoiceHeader,
.invoiceBody {
	@extend %remove-margin;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 2.8rem;
	text-align: center;

	div:first-child:not(.formGroup) {
		text-align: left;
	}

	div:last-child:not(.formGroup) {
		text-align: right;
		padding-right: 20px;
	}
}

.invoiceHeader {
	color: color(manatee);
	border-top: 1px solid darken($borderColor, 5%);
	border-bottom: 1px solid darken($borderColor, 5%);
}

.subTotalGrandTotal {
	font-size: 1rem;
}

.invoiceBody {
	border-top: none;
	line-height: 3.6rem;

	&.formWrapper {
		&.row {
			@extend %remove-margin;
			@extend %center-vertically;
		}

		.formGroup {
			margin-bottom: 0;
		}

		.inputGroup {
			padding-left: 0;
			.row {
				@extend %remove-margin;
				@extend %center-vertically;
			}
		}
	}
}

.listItemWrapper {
	font-size: 0.8rem;
	color: white;
	width: 100%;

	.invoiceNumber,
	.price {
		font-weight: 500;
	}

	.invoiceNumber,
	.time {
		line-height: 2rem;
	}

	.time,
	.name {
		font-size: 0.6rem;
	}

	.name,
	.price {
		line-height: 1.2rem;
	}

	.count {
		font-size: 0.7rem;
	}

	.time,
	.price {
		@extend %alignRight;
	}
}
