.wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.4rem;
	padding: 24px 24px 0;

	.text {
		display: flex;
		align-items: center;
		flex: 1;

		.title {
			font-size: 1rem;
			font-weight: bold;
		}

		.subtitle {
			font-size: 0.7rem;
			text-transform: uppercase;
			font-weight: bold;
			color: #ccc;
			margin-left: 2rem;
		}
	}

	.closeIcon {
		cursor: pointer;
	}
}
